html, body {
    margin: 0 !important;
    padding: 0 !important;
}

.font-playFair {
    font-family: "Playfair Display", serif;
}

.fw-500 {
    font-weight: 500;
}

.w-md-50 {
    width: 50%;
}

.bg-oak {
    background-color: #0e4679;
}

.text-oak {
    color: #0e4679;
}

.text-12 {
    font-size: 14px;
}

.bg-snow {
    background-color: #eeeff09e;
}

/* button design */

.btn-oak::before,
.btn-oak::after {
    position: absolute;
    content: "";
}

.btn-oak {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    min-width: 150px;
}

.btn-oak span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
}

/*--- btn-1 ---*/
.btn-1::before {
    background-color: #0e4679;
    transition: 0.3s ease-out;
}

.btn-1 span {
    color: rgb(255, 255, 255);
    border: 1px solid #0e4679;
    transition: 0.2s 0.1s;
}

.btn-1 span:hover {
    color: #0e4679;
    transition: 0.2s 0.1s;
}

/* 1.hover-filled-slide-down */
.btn-oak.hover-filled-slide-down::before {
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.btn-oak.hover-filled-slide-down:hover::before {
    height: 0%;
}

/*--- btn-2 ---*/
.btn-2::before {
    background-color: #fff;
    transition: 0.3s ease-out;
}

.btn-2 span {
    color: #fff;
    border: 1px solid #fff;
    transition: 0.2s;
}

.btn-2 span:hover {
    color: #0e4679;
    transition: 0.2s 0.1s;
}

/* 6. hover-slide-down */
.btn-oak.hover-slide-down::before {
    top: 0;
    left: 0;
    right: 0;
    height: 0%;
    width: 100%;
}

.btn-oak.hover-slide-down:hover::before {
    height: 100%;
}

/*--- btn-3 ---*/
.btn-3::before {
    background-color: #fff;
    transition: 0.3s ease-out;
}

.btn-3 span {
    color: #0e4679;
    border: 1px solid #fff;
    transition: 0.2s;
}

.btn-3 span:hover {
    color: #fff;
    transition: 0.2s 0.1s;
}

/* oak button outline */

.btn-outline-oak {
    text-decoration: none;
    border: 1px solid #0e4679;
    background-color: white;
    color: #0e4679;
    transition: all 0.25s ease;
}

.btn-outline-oak:hover {
    background-color: #0e4679;
    color: white;
}

.btn-outline-oak.btn-active {
    background-color: #0e4679;
    color: white;
}

.cat-btn-active {
    background-color: #0e4679;
    color: white;
}

/* scrollbar */

/* scrollbar styling */
*::-webkit-scrollbar {
    width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
}

/* Handle */
*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ededed;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}

*::-webkit-scrollbar-thumb:window-inactive {
    background: #ededed;
}

.landingHero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.coursesHero {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/courses/main.jpg);
    /* mask-image: linear-gradient(to top, transparent 0%, #0e4679 0% 80%, transparent 100%); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* About us */
.aboutHero {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/about/main.jpg);
    /* mask-image: linear-gradient(to top, transparent 0%, #0e4679 0% 80%, transparent 100%); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Events */
.eventHero {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/gallery/main.jpg);
    /* mask-image: linear-gradient(to top, transparent 0%, #0e4679 0% 80%, transparent 100%); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogHero {
    background-color: #0e4679;
}

input:focus {
    outline: none;
    -webkit-appearance: none;
    box-shadow: none !important;
    background-color: transparent !important;
    border-bottom: 1px solid #8e8988 !important;
}

textarea:focus {
    outline: none;
    -webkit-appearance: none;
    box-shadow: none !important;
    background-color: transparent;
}

::placeholder {
    color: #0e4679;
}

.contactForm input {
    border: none;
    border-bottom: 1px solid #0e4679;
    border-radius: 0;
    background-color: #f8f9fa;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .w-md-50 {
        width: 100%;
    }

    .landingHero {
        justify-content: space-around;
    }

    .coursesHero {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/courses/main-mobile.jpg);
        justify-content: space-around;
    }

    .aboutHero {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/about/main-mobile.jpg);
        justify-content: space-around;
    }

    .eventHero {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/gallery/main-mobile.jpg);
        justify-content: space-around;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .landingHero {
        justify-content: space-around;
    }

    .coursesHero {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/courses/main-tab.jpg);
        justify-content: space-around;
    }

    .aboutHero {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/about/main-tab.jpg);
    }

    .eventHero {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/gallery/main-tab.jpg);
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .landingHero {
        justify-content: space-around;
    }

    .coursesHero {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/courses/main-tab.jpg);
        justify-content: space-around;
    }

    .aboutHero {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/about/main-tab.jpg);
    }
    .eventHero {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/gallery/main-tab.jpg);
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}

/* Hover Zoom Image */
.hover-zoom-img { transition: transform 0.5s ease; }
.hover-zoom-img:hover { transform: scale(1.05); cursor: pointer; }

