html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

.title {
    font-family: "Playfair Display", serif;
    font-size: 20rem;
    color: #fff;
    z-index: 2;
}

.landingSection {
    height: 100vh;
    background-image: url(../images/hero.jpg);
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* position: fixed; */
    /* mask-image: linear-gradient(to bottom, transparent 0%, black 0% 75%, transparent 100%); */
    /* z-index: -1; */
}

.landingSection video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.heroContent {
    /* position: absolute; */
    /* top: 100vh; */
    height: 100vh;
    width: 80%;
    background-color: #0e4679;
    z-index: 1;
}

.lightBorder {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.hidden {
    visibility: hidden;
    display: none;
}

.mt-100VH {
    /* margin-top: 200vh; */
}

.mt--4 {
    margin-top: -4px;
}

.mt--5 {
    margin-top: -5px;
    font-size: 12px;
}

.mt--55 {
    margin-top: -5px;
    font-weight: 100;
}

.fw-100 {
    font-weight: 300;
}

.float-img1,
.float-img2,
.float-img3 {
    width: 150px;
}

.blogCategoryBtn {
    text-decoration: none;
    background-color: white;
    color: #0e4679;
    transition: background-color 0.5s ease, color 0.25s ease;
}

.blogCategoryBtn:hover {
    background-color: #0e4679;
    color: white;
}

.bannerSection {
    min-height: 100vh;
    background-image: url(../images/baking.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerBanner {
    min-height: 75vh;
    background-image: url(../images/footerBanner.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    display: none;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff;
    /* Change to your preferred color for the active bullet */
}

.bakesImg {
    width: 50%;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .heroContent {
        height: auto;
        min-height: 100vh;
    }

    .bakesImg {
        width: 75%;
    }

    .float-img1,
    .float-img2,
    .float-img3,
    .cheersImg {
        width: 100px;
    }

    .landingSection {
        height: 75vh;
        mask-image: none;
    }

    .title {
        font-size: 7rem;
    }

    .bannerSection {
        min-height: 110vh;
        background-image: url(../images/banner.jpg);
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cheersImg {
        width: 80px;
    }
}
